.button-container {
    margin: 10px 0 10px 0;
    width: 150px;
}

.circle {
    height: 50px;
    width: 50px;
    outline: none;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.pressed {
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.clicked {
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.draggable {
    margin: 0;
    display: inline-block;
    position: absolute;
    background-color: lightseagreen;
}

.draggable-extended {
  background-color: darkred;
}

.draggable-button {
    background-color: lightseagreen;
}

.draggable-extended-button {
    background-color: darkred;
}

.close-button {
  height: 40px;
  width: 40px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  background-color: darkblue;
}

.extend-button {
  height: 20px;
  width: 20px;
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  background-color: darkgreen;
}
