.button-container {
    margin: 10px 0 10px 0;
    width: 150px;
}

.button {
    height: 50px;
    width: 50px;
    outline: none;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.button:active{
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
.item{
  width: 100px;
  height: 100px;
  border: 1px solid black;
}


.clicked {
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.draggable {
    margin: 0;
    display: inline-block;
    position: absolute;
    background-color: lightseagreen;
}

.draggable-extended {
  background-color: darkred;
}

.draggable-button {
    background-color: lightseagreen;
}

.draggable-extended-button {
    background-color: darkred;
}

.control-button {
  height: 20px;
  width: 20px;
  margin: 2px;
}

.close-button::before{
  content: "\2716";
  font-size: 18px;
  position: relative;
  top: -6px;
  left: -5px;

}
.extend-button::before{
  content: "\2750";
  font-size: 18px;
  position: relative;
  top: -6px;
  left: -5px;
}

.extended{
  top: 0 !important;
  left: 0 !important;
  z-index: 2;
}
